<!DOCTYPE html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/844e445677.js" crossorigin="anonymous"></script>

    <style>
        .h-same{
            height:100%; 
            display: flex; 
            flex-direction: column;
        }

        
    </style>
    
</head>

<body>
    {% include 'fluffyBooks/navbar.html' %}

    <section class="section">
        <h1 class="title">Books written by <a class="title has-text-primary">{{author}}</a></h1>
        {% if cardbooks %}
        {% include 'fluffyBooks/cards.html' %}
        {% else %}
        <p>This Author currently hasn't had any books of theirs reviewed yet.</p>
        {% endif %}
    </section>
</body>