<!DOCTYPE html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/844e445677.js" crossorigin="anonymous"></script>
</head>

<html>
    <body>
        {% include 'fluffyBooks/navbar.html' %}
        {% if searched %}
        <section class="hero is-warning">
            <div class="hero-body">
                <h1 class="title">
                    Your Search "{{searched}}" shows: 
                </h1>
            </div>
        </section>
        {% endif %}
        <section class="section">
        <h1 class="title">
            Books for {{subject}}
        </h1>
        {% if cardbooks %}
        {% include 'fluffyBooks/cards.html' %}
        {% else %}
        <article class="message">
            <div class="message-header has-background-primary">
                <h2>There are no books on {{subject}}</h2>
            </div>
            <div class="message-body has-background-primary-light">
                <p>Be the first to <a href="{% url 'fluffyBooks:review_page' %}">write a review</a> on this!</p>
            </div>
        </article>
        {% endif %}
    </section>
    </body>
</html>
    
    